<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lobster&family=Space+Grotesk:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <h1 class="header-title">
      Daily Journal
    </h1>
    <nav class="main-nav">
      <ul class="nav">
        <li id="home"><a href="/">Home</a></li>
        <!-- <li id="about"><a href="/about">About</a></li>
        <li id="contact"><a href="/contact">Contact</a></li> -->
        <li id="regLogn"><a class="btn btn-light btn-lg " href="/register" role="button">Register</a></li>
        <li id="regLogn"><a class="btn btn-dark btn-lg  " href="/login" role="button">Login</a></li>
      </ul>
    </nav>
    <div class="filter-section">
      <label for="category">Filter by Category:</label>
      <select id="category" name="category" onchange="this.form.submit()">
        <option value="">All Categories</option>
        <option value="tech">Tech</option>
        <option value="uiux">UI/UX</option>
        <option value="career">Career</option>
        <option value="lifestyle">Lifestyle</option>
        <option value="startup">Startup</option>
      </select>
    </div>
  </header>

  <div class="content"></div>

</body>

</html>
